<!--SHOW THIS IF LOADING-->
<mat-spinner *ngIf="isLoading"></mat-spinner>

<!--ELSE SHOW THIS-->
<mat-accordion multi=true *ngIf="users.length > 0 && !isLoading" >
    <mat-expansion-panel  *ngFor = "let user of users" >

        <!-- TITLE -->
        <mat-expansion-panel-header>
            <b style= "color: #1f1f1f; text-align: center;" >{{getFullName(user.FirstName, user.LastName)}}</b>
        </mat-expansion-panel-header>

        <div class="profileInfo" *ngIf="!isLoading">

          <div class="row">
            <div class="col-sm-4">
                            <!-- preview  -->
                            <img [src]="user.profilePic">
            </div>
            <div class="col-sm-4 ">



            </div>
            <div class="col-sm-4"></div>

          </div>

          <div class="row">
            <div class="col-sm-3"><p>Name: </p></div>
            <div class="col-sm-9"><p>{{user.LastName}}, {{user.FirstName}} {{noAssignmentStringIfNull(user.MidInit)}} {{noAssignmentStringIfNull(user.NameExtention)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Employee Number: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.EmployeeNumber)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Date of Birth: </p></div>
            <div class="col-sm-9"><p>{{readableDate(user.birthdate)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Age: </p></div>
            <div class="col-sm-9"><p>{{getAge(user.birthdate)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Place of birth: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.PlaceOfBirth)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Gender: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.gender)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Civil status: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.CivilStatus)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Height: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.height)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Weight: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.weight)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Blood type: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.BloodType)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Citizenship: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.citizenship)}}</p></div>
          </div>

          <div class="row">
            <div class="col-sm-3"><p>GSIS ID No.: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.gsis)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>PAGIBIG ID No.: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.pagibig)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>PhilHealth ID No.: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.philHealth)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>SSS No.: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.sss)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>TIN No.: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.tin)}}</p></div>
          </div>



          <div class="row">
            <div class="col-sm-3"><p>Permanent Address</p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.p_zipCode) + " "+ emptyStringIfNull(user.p_LotNo) + " "+ emptyStringIfNull(user.p_street) + " "+ emptyStringIfNull(user.p_village)  + " "+ emptyStringIfNull(user.p_brgy)   + " "+ emptyStringIfNull(user.p_city)+ ", "+ emptyStringIfNull(user.p_province)}}</p></div>
          </div>



          <div class="row">
            <div class="col-sm-3"><p>Resident Address</p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.r_zipCode) + " "+ emptyStringIfNull(user.r_lotNo) + " "+ emptyStringIfNull(user.r_street) + " "+ emptyStringIfNull(user.r_village)  + " "+ emptyStringIfNull(user.r_brgy)   + " "+ emptyStringIfNull(user.r_city)+ ", "+ emptyStringIfNull(user.r_province)}}</p></div>
          </div>


          <div class="row">
            <div class="col-sm-3"><p>Email: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.email)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Alternate Email: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.altEmail)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Tel no: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.TelNo)}}</p></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p>Mobile no: </p></div>
            <div class="col-sm-9"><p>{{noAssignmentStringIfNull(user.MobileNo)}}</p></div>
          </div>
          <mat-divider></mat-divider>



        </div>

        <!-- INFORMATION -->





        <!-- ACTION ROW -->
        <mat-action-row *ngIf="user.status !== 'Accepted'">
            <button  *ngIf = "user.status === 'Pending'"  mat-button color="primary" (click) = "acceptFaculty(user, 'Accept')">Accept</button>
            <button  *ngIf = "user.status === 'Pending'"  mat-button color="warn" (click)= "acceptFaculty(user, 'Reject')">Reject</button>
            <button *ngIf = "user.status === 'Rejected'"  mat-button color="warn" (click)= "acceptFaculty(user, 'Appeal')" >Re-appeal</button>
            <button *ngIf = "user.status === 'Archive'"  mat-button color="warn" (click)= "restoreFaculty(user)" >Restore</button>

        </mat-action-row>

    </mat-expansion-panel>

</mat-accordion>
<br><br>
<p class="empty" *ngIf="users.length <= 0 && !isLoading"> <bR>There's nothing here.</p>

