



<div class="main-container">

  <button class="logout-button" (click)="logout()"
  mat-fab color="accent"
  matTooltip="logout"
  matTooltipPosition="left">
  <mat-icon>logout</mat-icon>
  </button>
    <mat-tab-group mat-stretch-tabs animationDuration="1000ms" >




      <!-- TAB 1 TABLE -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mat-tab-icon">dashboard</mat-icon>
          <mat-label class="mat-tab-label">Dashboard</mat-label>

        </ng-template>

          <mat-card>
          <mat-card-content>
          <div class="demo-button-container">


              <!-- SHOW ALL -->
              <button color="accent" class="showAll-button"  (click)="showAll()"
              mat-fab
              matTooltip="showAll"
              matTooltipPosition="left">
                  <mat-icon>table</mat-icon>

              </button>

              <!-- EXPORT TABLE AS ... -->
              <button (click)="exporter.exportTable('xlsx',{fileName:',User_data'})"
                  class="xlsx-button"
                  mat-fab
                  matTooltip="Export as xlsx"
                  matTooltipPosition="left">
                  <mat-icon>receipt</mat-icon>
              </button>
              <button (click)="exporter.exportTable('csv',{fileName:'User_data'})"
                  class="csv-button"
                  mat-fab
                  matTooltip="Export as CSV"
                  matTooltipPosition="left">
                  <mat-icon>receipt</mat-icon>
              </button>
              <button (click)="exporter.exportTable('json',{fileName:'User_data'})"
                  class="json-button"
                  mat-fab
                  matTooltip="Export as JSON"
                  matTooltipPosition="left">
              <mat-icon>receipt</mat-icon></button>


          </div>

          <div class="search">
          <!-- FILTER -->
          <mat-form-field class="txtField" appearance="outline">
              <mat-label>Filter</mat-label>
              <mat-icon matSuffix>search</mat-icon>
              <input matInput (keyup)="applyFilter($event)" placeholder="Enter a filter" #input [(ngModel)]="_filter"
                  name="_filter">
          </mat-form-field>

          <div class="example-container">
          </div>

              <mat-spinner *ngIf="isLoading"
              [diameter]="30"
              style="margin: 0; position: absolute; top: 50%; left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);"></mat-spinner>



              <div class="matle-container">


                  <table mat-table matTableExporter [hiddenColumns]="[26]" [dataSource]="dataSource" class="mat-table "
                      #exporter="matTableExporter" matSort>

                      <!-- Actions Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-raised-button color="warn" (click)="deleteUser(row._id)"
                            matTooltip="Delete"
                            matTooltipPosition="left">
                              <mat-icon>delete</mat-icon>

                            </button>
                            <button mat-raised-button color="primary" (click)="view(row._id)"
                            matTooltip="View"
                            matTooltipPosition="left">
                              <mat-icon>class</mat-icon>
                            </button>

                        </td>
                      </ng-container>

                      <ng-container matColumnDef="EmployeeNumber">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee No</th>
                          <td mat-cell *matCellDef="let row">{{row.EmployeeNumber}}</td>
                      </ng-container>


                      <ng-container matColumnDef="Name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                          <td mat-cell *matCellDef="let row">{{row.LastName}}, {{row.FirstName}} {{noAssignmentStringIfNull(row.MI)}}., {{noAssignmentStringIfNull(row.NameExtention)}}</td>
                      </ng-container>


                      <ng-container matColumnDef="birthdate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Birthdate</th>
                          <td mat-cell *matCellDef="let row">{{readableDate(row.birthdate)}} </td>
                      </ng-container>


                      <ng-container matColumnDef="PlaceOfBirth">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>PlaceOfBirth</th>
                          <td mat-cell *matCellDef="let row">{{noAssignmentStringIfNull(row.PlaceOfBirth)}} </td>
                      </ng-container>


                      <ng-container matColumnDef="gender">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>gender</th>
                          <td mat-cell *matCellDef="let row">{{noAssignmentStringIfNull(row.gender)}}</td>
                      </ng-container>

                      <ng-container matColumnDef="CivilStatus">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>CivilStatus</th>
                          <td mat-cell *matCellDef="let row">{{noAssignmentStringIfNull(row.CivilStatus)}}</td>
                      </ng-container>


                      <ng-container matColumnDef="height">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>height</th>
                          <td mat-cell *matCellDef="let row">{{noAssignmentStringIfNull(row.height)}}</td>
                      </ng-container>


                      <ng-container matColumnDef="weight">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>weight</th>
                          <td mat-cell *matCellDef="let row">{{noAssignmentStringIfNull(row.weight)}}</td>
                      </ng-container>


                      <ng-container matColumnDef="BloodType">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>BloodType</th>
                          <td mat-cell *matCellDef="let row">{{noAssignmentStringIfNull(row.BloodType)}}</td>
                      </ng-container>

                      <ng-container matColumnDef="gsis">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>gsis</th>
                          <td mat-cell *matCellDef="let row">{{noAssignmentStringIfNull(row.gsis)}}</td>
                      </ng-container>

                      <ng-container matColumnDef="pagibig">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>pagibig</th>
                          <td mat-cell *matCellDef="let row">{{noAssignmentStringIfNull(row.pagibig)}}</td>
                      </ng-container>



                      <ng-container matColumnDef="philHealth">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>philHealth</th>
                          <td mat-cell *matCellDef="let row">{{noAssignmentStringIfNull(row.philHealth)}}</td>
                      </ng-container>

                      <ng-container matColumnDef="sss">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>sss</th>
                          <td mat-cell *matCellDef="let row">{{noAssignmentStringIfNull(row.sss)}}</td>
                      </ng-container>

                      <ng-container matColumnDef="tin">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>tin</th>
                          <td mat-cell *matCellDef="let row">{{noAssignmentStringIfNull(row.tin)}}</td>
                      </ng-container>

                      <ng-container matColumnDef="citizenship">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>citizenship</th>
                          <td mat-cell *matCellDef="let row">{{noAssignmentStringIfNull(row.citizenship)}}</td>
                      </ng-container>

                      <ng-container matColumnDef="r_zipCode">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Resident Address</th>
                          <td mat-cell *matCellDef="let row">{{emptyStringIfNull(row.r_zipCode) + " " +emptyStringIfNull(row.r_lotNo) + " " +emptyStringIfNull(row.r_street) +  " " + emptyStringIfNull(row.r_village) + " " + emptyStringIfNull(row.r_brgy) + " "+emptyStringIfNull(row.r_city) +" " +emptyStringIfNull(row.r_province)}}</td>
                      </ng-container>

                      <ng-container matColumnDef="p_zipCode">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Permanent Address</th>
                          <td mat-cell *matCellDef="let row">{{emptyStringIfNull(row.p_zipCode) + " " +emptyStringIfNull(row.p_lotNo) + " " +emptyStringIfNull(row.p_street) +  " " + emptyStringIfNull(row.p_village) + " " + emptyStringIfNull(row.p_brgy) + " "+emptyStringIfNull(row.p_city) +" " +emptyStringIfNull(row.p_province)}}</td>
                      </ng-container>


                      <ng-container matColumnDef="TelNo">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>TelNo</th>
                          <td mat-cell *matCellDef="let row">{{emptyStringIfNull(row.TelNo)}}</td>
                      </ng-container>

                      <ng-container matColumnDef="MobileNo">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>MobileNo</th>
                          <td mat-cell *matCellDef="let row">{{emptyStringIfNull(row.MobileNo)}}</td>
                      </ng-container>

                      <ng-container matColumnDef="email">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                          <td mat-cell *matCellDef="let row">{{row.email}}</td>
                      </ng-container>

                      <ng-container matColumnDef="altEmail">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>altEmail</th>
                          <td mat-cell *matCellDef="let row">{{emptyStringIfNull(row.altEmail)}}</td>
                      </ng-container>

                      <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                          <td mat-cell *matCellDef="let row">{{row.status}}</td>
                      </ng-container>

                      <ng-container matColumnDef="role">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                          <td mat-cell *matCellDef="let row">{{row.role}}</td>
                      </ng-container>




                      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                      <!-- if filter doesn't return any rows -->
                      <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="4">No data</td>
                      </tr>

                  </table>

                  <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
              </div>


              <!-- <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator> -->
          </div>

        </mat-card-content>
        <mat-card-actions></mat-card-actions>
        </mat-card>


        </mat-tab>

      <!-- TAB 2 PENDING -->

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mat-tab-icon">hourglass_full</mat-icon>
          <mat-label class="mat-tab-label">Pending</mat-label>
        </ng-template>
        <app-account-card status="Pending"></app-account-card>
      </mat-tab>

      <!-- TAB 2 Accepted -->
      <mat-tab label="Accepted Account">
        <ng-template mat-tab-label>
          <mat-icon class="mat-tab-icon">check_circle</mat-icon>
          <mat-label class="mat-tab-label">Accepted Account</mat-label>
        </ng-template>
        <app-account-card status='Accepted'></app-account-card>
      </mat-tab>

      <!-- TAB 2 Rejected -->
      <mat-tab label="Rejected Account">
        <ng-template mat-tab-label>
          <mat-icon class="mat-tab-icon">cancel</mat-icon>
          <mat-label class="mat-tab-label">Rejected Account</mat-label>

        </ng-template>
        <app-account-card status='Rejected'></app-account-card>
      </mat-tab>

  </mat-tab-group>
</div>
