<h1 mat-dialog-title>Edit Content</h1>

<div mat-dialog-content>

    <main>
        <form [formGroup]="form" (submit) ="onEdit()">



        <!--vision-->
        <mat-form-field class="txtField" appearance="outline">
            <mat-label>Vision</mat-label>
            <textarea
            matInput
            name = "vision"
            formControlName ="vision"
            type="text"
            ></textarea>
        </mat-form-field>


        <!--mission-->
        <mat-form-field class="txtField" appearance="outline">
            <mat-label>Mission</mat-label>
            <textarea
            matInput
            name = "mission"
            formControlName ="mission"
            type="text"

            ></textarea>
        </mat-form-field>



            <div style="margin-bottom: 2rem">

              <div class="rows">
                 <!-- makikita -->
                  <button class="btnUpload" mat-flat-button type="button" color="primary" (click)="filePicker.click()">Upload Logo</button>

                                    <!-- preview  -->
                  <br><br>
                  <div class= "certificate" *ngIf = "fileTitlePrev !== '' && fileTitlePrev">
                    <img [src]="fileTitlePrev">
                  </div>


              </div>


                <!-- invi -->
                <input type="file" #filePicker (change) = "onFilePicked($event)" accept="image/*">

              </div>


        <button class="btn positive" mat-flat-button color="primary" type="submit" *ngIf="!isLoading">Confirm</button>
        <button class="btn negative" mat-flat-button color="warn" type="button" *ngIf="!isLoading" (click)="onNoClick()">Cancel</button>

        <mat-spinner *ngIf="isLoading"
        [diameter]="30"
        style="margin: 0; position: absolute; top: 50%; left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);">
              </mat-spinner>

        </form>


    </main>

</div>
