
<h1 mat-dialog-title>Edit Profile</h1>
<div mat-dialog-content>

  <div class="container">
  <form [formGroup] = "mainForm" (submit) = "onSubmit()">




          <!-- ProfilePic -->
        <div style="margin-bottom: 2rem">




          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 center">
              <!-- preview  -->
              <div class= "profile-preview" *ngIf = "fileTitleProfilePicPrev !== '' && fileTitleProfilePicPrev">
                <img [src] = "fileTitleProfilePicPrev" >
              </div>

            </div>
            <div class="col-sm-4"></div>

          </div>

          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 center">
              <button mat-flat-button class="btnUpload" color="primary" type="button" (click)="filePickerESig.click()">Change Profile
                <mat-icon>upload</mat-icon>
              </button>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <!-- makikita -->

          <!-- invi -->
          <input type="file" #filePickerESig (change) = "onFilePickedProfilePic($event)" accept="image/png">

        </div>


        <div class="row">
          <div class="col-sm-4">
            <mat-form-field  class="txtField" appearance="outline">
              <mat-label>Last Name</mat-label>

              <input type="text" matInput
                    formControlName="LastName" name="LastName"
                    placeholder="Last name" >

            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field class="txtField" appearance="outline">
              <mat-label>First Name</mat-label>

              <input  type="text" matInput
                    formControlName="FirstName" name="FirstName"
                    placeholder="First name" >

            </mat-form-field>
          </div>


        </div>

        <div class="row">
          <div class="col-sm-3">
            <mat-form-field class="txtField" appearance="outline">

              <mat-label>Birthdate</mat-label>
              <input  matInput [matDatepicker]="picker"
              formControlName="birthdate" name="birthdate"
              placeholder="MM/DD/YYYY"   (focus)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>
          </div>
          <div class="col-sm-3">




          </div>


        </div>












            <mat-divider></mat-divider><br>


          <div class="row">
            <button class="btn positive" mat-flat-button color="primary" type="submit">Confirm</button>
          </div>
        </form>
        <div class="row">
          <button class="btn negative" mat-flat-button color="primary"  (click)="onNoClick()">Cancel</button>
        </div>
      </div>

  </div>
