<!--SHOW THIS IF LOADING-->
<mat-spinner *ngIf="isLoading"></mat-spinner>

<!--ELSE SHOW THIS-->
<main  *ngIf="trainings.length > 0 && !isLoading">


    
                <h1>Training</h1>
<button mat-raised-button (click)="openAddTrainingDialog()">Add School</button>
            
            <!-- INFORMATION -->
            <div *ngFor = "let training of trainings">
                <h2>Training Name: {{training.title}}</h2>
                <h3>Type: {{training.typeOfLearningDevelopment}}</h3>
          
                <li><b>Conductor: </b>{{training.conductor}}</li>
                <li><b>fromDate: </b>{{readableDate(training.fromDate)}}</li>
                <li><b>toDate: </b>{{readableDate(training.toDate)}}</li>
                <li><b>noOfHours: </b>{{training.noOfHours}}</li>
                <li><b>typeOfLearningDevelopment: </b>{{training.typeOfLearningDevelopment}}</li>
                <li><b>certificate: </b><a [href]="training.certificate" target="_blank" rel="noopener noreferrer">Certificate file</a></li>
           

    
                    <button  mat-button color="primary" (click) ="onEditDialog(training)">Edit</button>
                    <button  mat-button color="warn" (click) = "onDelete(training._id)">Delete</button>
         
            </div>
            
    

   
</main>
<br><br>
<p *ngIf="trainings.length <= 0 && !isLoading"><b>*Hoot hoot* *Hoot hoot*</b> <bR>Nothing here..</p>
  
