<!--SHOW THIS IF LOADING-->
<mat-spinner *ngIf="isLoading"></mat-spinner>

<!--ELSE SHOW THIS-->
<main  *ngIf="civils.length > 0 && !isLoading">


                <h1>Civil Service Eligibility</h1>
<button mat-raised-button (click)="openAddCivilDialog()">Add Civil Service</button>
            
            <!-- INFORMATION -->
            <div *ngFor = "let civil of civils">
                <h2>{{civil.nameOfCivilServiceEligibility}}</h2>
          
                <li *ngIf="civil.rating"><b>Rating: </b>{{civil.rating}}</li>
                <li><b>Date of examination: </b>{{readableDate(civil.dateOfExamination)}}</li>
                <li><b>Place of examination: </b>{{civil.placeOfExamination}}</li>
         
                <li *ngIf="civil.licenseNo"><b>License No: </b>{{civil.licenseNo}}</li>
                <li  *ngIf="civil.dateOfValidity"><b>Date of validity: </b>{{readableDate(civil.dateOfValidity)}}</li>


         
                    <button  mat-button color="primary" (click) ="onEditDialog(civil)">Edit</button>
                    <button  mat-button color="warn" (click) = "onDelete(civil._id)">Delete</button>
           <mat-divider></mat-divider>
            </div>
            
    
</main>
<br><br>
<p *ngIf="civils.length <= 0 && !isLoading"><b>*Hoot hoot* *Hoot hoot*</b> <bR>Nothing here..</p>
  
