<!--SHOW THIS IF LOADING-->
<mat-spinner [diameter]="30"

style="
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);"

*ngIf="isLoading"></mat-spinner>

<button class="add-button" (click)="openAddCivilDialog()" mat-fab color="accent"
      matTooltip="Add Content"
      matTooltipPosition="left">
    <mat-icon>add</mat-icon>
  </button>
<!--ELSE SHOW THIS-->
<main class="civil" *ngIf="civils.length > 0 && !isLoading">


                <h1>Civil Service Eligibility</h1>

            <!-- INFORMATION -->
            <div *ngFor = "let civil of civils">

                <div class="row">
                  <div class="col-sm-3"> <p>Name:</p></div>
                  <div class="col-sm-9"> <p> {{civil.nameOfCivilServiceEligibility}}</p></div>
                </div>

                <div class="row" *ngIf="civil.rating">
                  <div class="col-sm-3"><p>Rating:</p></div>
                  <div class="col-sm-9"><p>{{civil.rating}}</p></div>
                </div>

                <div class="row">
                  <div class="col-sm-3"><p>Date of examination: </p></div>
                  <div class="col-sm-9"><p>{{readableDate(civil.dateOfExamination)}}</p></div>
                </div>

                <div class="row">
                  <div class="col-sm-3"> <p>Place of examination: </p></div>
                  <div class="col-sm-9"> <p>{{civil.placeOfExamination}}</p> </div>
                </div>

                <div class="row" *ngIf="civil.licenseNo">
                  <div class="col-sm-3"><p>License No: </p></div>
                  <div class="col-sm-9"><p>{{civil.licenseNo}}</p></div>
                </div>

                <div class="row" *ngIf="civil.dateOfValidity">
                  <div class="col-sm-3"><p>Date of validity:</p></div>
                  <div class="col-sm-9"><p>{{readableDate(civil.dateOfValidity)}}</p></div>
                </div>

                <div class="editDelete-button">
                  <button  mat-flat-button color="primary" (click) ="onEditDialog(civil)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button  mat-flat-button color="warn" (click) = "onDelete(civil._id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>


           <mat-divider></mat-divider>

            </div>


</main>
<br><br>
<p *ngIf="civils.length <= 0 && !isLoading"> </p>

