<main>
    <img src="assets/images/default_cict.png" style="width: 200px; height: 200px;">
        <h1>Vision</h1>
        <p>my vision</p>

        <h1>Mission</h1>
        <p>our mission</p>
        <h1>About </h1>
        <p>BULACAN STATE UNIVERSITY (BulSU) is the premiere state-operated institution of higher learning in the Cenral Luzon region. It originated as a secondary school run by the Americans in 1904, and has now progressed into one of the biggest educational institutions in Region III. BulSU was converted from a college into a University in 1993 by virtue of Republic Act 7665. Since then, BulSU has grown by leaps and bounds, in terms of program offerings, faculty qualification, and student enrolment. It is the vision of the University to be a knowledge-generating institution globally recognized for excellent instruction, pioneering research, and responsive community engagement. The University has also maintained the existence of four external campuses within the province namely Meneses Campus, Hagonoy Campus, Sarmiento Campus, and Bustos Campus

            The University has been consistently producing highly professional, ethical, and service-oriented individuals who perform well in board examinations with impressive results consistently exceeding the National Passing Rate and become potent driving force in the industries in the region and beyond. BulSU has recently received its ISO 9001:2015 Certification, passed the Level II Institutional Accreditation while 50 academic programs of the different Colleges are already accredited by the Accrediting Agency of Chartered Colleges and Universities (AACCUP), Inc. This was made possible through the persistent hardwork and resolute service of its 1,138 faculty members and 476 non-teaching personnel who relentlessly cater and furnish the needs of our 35,958 students.</p>

            <h1>Contact Us</h1>
            <p>Guinhawa, City of Malolos, Bulacan   
            </p><p>919-7800</p> 
            <p>officeofthepresident@bulsu.edu.ph</p>
</main>
