
.txtField {
  width: 100%;
  padding: 0px;
  font-size: 12px;
  margin: 3px;
}
p{
  text-align: center;
  font-size: small;
}
.col-sm-2{
  margin: auto;
}

.mat-dialog-title{
  text-align: left;
  font-size: large;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

mat-checkbox{
  margin-left: 2%;
}

.btn {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
}
.positive{
  background-color: #5a68f0;
}
.negative{
  background-color: #f05a5a;
}

.btnUpload{
  background-color: #12aa82;
}

