<h1 mat-dialog-title>Training</h1>

<div mat-dialog-content>

    <main>
        <form [formGroup]="form" (submit) ="onCreateTraining()">


            <!--title-->
           <mat-form-field  class="txtField" appearance="outline">
            <mat-label>Title</mat-label>
            <input
             name="title"
             formControlName ="title"
             matInput
             type="text"
             required>
        </mat-form-field>


            <!--StypeOfLearningDevelopment-->
        <mat-form-field  class="txtField" appearance="outline">
            <mat-label>Type of learning development</mat-label>
            <input
            name="typeOfLearningDevelopment"
            matInput
            formControlName ="typeOfLearningDevelopment"
            type="text"
            required>
        </mat-form-field>

        <!--conductor-->
        <mat-form-field class="txtField" appearance="outline">
            <mat-label>Conductor</mat-label>
            <textarea
            matInput
            name = "conductor"
            formControlName ="conductor"
            type="text"
            ></textarea>
        </mat-form-field>


        <div class="row">
          <div class="col-sm-2"><p>Date: </p></div>
          <div class="col-sm-5">
             <!--toDate-->
           <mat-form-field class="txtField" appearance="outline">
            <mat-label>From:</mat-label>
            <input class="txtInput" matInput [matDatepicker]="picker2"
            formControlName="fromDate" name="fromDate"
            placeholder="MM/DD/YYYY"   (focus)="picker2.open()">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
           </mat-form-field>
          </div>
          <div class="col-sm-5">
                        <!--toDate-->
            <mat-form-field class="txtField" appearance="outline">
            <mat-label>To:</mat-label>
            <input class="txtInput" matInput [matDatepicker]="picker"
            formControlName="toDate" name="toDate"
            placeholder="MM/DD/YYYY"   (focus)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>




              <!--noOfHours-->
            <mat-form-field class="txtField" appearance="outline">
                <mat-label>Number of hours</mat-label>
                <input
                matInput
                name = "noOfHours"
                formControlName ="noOfHours"
                type="number"
                >
                <mat-error *ngIf = "form.get('noOfHours').invalid">Please enter a Number of Hours.</mat-error>
            </mat-form-field>



            <div style="margin-bottom: 2rem">

              <div class="rows">
                 <!-- makikita -->
                  <button class="btnUpload" mat-flat-button type="button" color="primary" (click)="filePicker.click()">Upload Certificate (PDF)</button>


                                    <!-- preview  -->
                  <br><br>
                  <div class= "certificate" *ngIf = "fileTitlePrev !== '' && fileTitlePrev">
                    <a *ngIf="mode ==='edit'" [href]="fileTitlePrev" target="_blank" rel="noopener noreferrer">Certificate File</a>
                    <p *ngIf="mode ==='create'"  >{{fileTitle}}</p>
                  </div>


              </div>


                <!-- invi -->
                <input type="file" #filePicker (change) = "onFilePicked($event)" accept="application/pdf,application/vnd.ms-excel">

              </div>


        <button class="btn positive" mat-flat-button color="primary" type="submit" *ngIf="!isLoading">Confirm</button>
        <mat-spinner *ngIf="isLoading"
        [diameter]="30"
        style="margin: 0; position: absolute; top: 50%; left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);">
              </mat-spinner>
        <button class="btn negative" mat-flat-button color="primary"  (click)="onNoClick()"  >Cancel</button>

        </form>

    </main>

</div>
