<!--SHOW THIS IF LOADING-->
<mat-spinner *ngIf="isLoading"></mat-spinner>

<button mat-raised-button (click)="openAddWorkDialog()">Add Work</button>    
<!--ELSE SHOW THIS-->
<main  *ngIf="works.length > 0 && !isLoading">


            
         
                <h1>Work Experience
                </h1>
        
            <!-- INFORMATION -->
            <div *ngFor = "let work of works">
                <h2>Position: {{work.position}}</h2>
                <h3>Company: {{work.dept}}</h3>

                <h3>Inclusive Dates</h3>
                <li ><b>From: </b>{{readableDate(work.fromDate)}}</li>
                <li *ngIf="work.toYear"><b>To: </b>{{readableDate(work.toYear)}}</li>
                <li *ngIf="!work.toYear"><b>To: </b>Present</li>
                <mat-divider></mat-divider>

                <!-- CONTINUE HEREEEEEEEEEEEEEEEEEEEEEEEE -->

                <li><b>Monthly Salary: </b>{{convertToPhp(work.monthlySalary)}}</li>
               
                <li *ngIf="work.salaryGrade"><b>Salary Grade: </b>{{work.salaryGrade}}</li>
                <li><b>Status of appointment: </b>{{work.status}}</li>
                <li ><b>Government Service: </b>{{convertBool(work.government)}}</li>



                    <button  mat-button color="primary" (click) ="onEditDialog(work)">Edit</button>
                    <button  mat-button color="warn" (click) = "onDelete(work._id)">Delete</button>
                    <mat-divider></mat-divider>
                </div>
            
 

   
</main>
<br><br>
<p *ngIf="works.length <= 0 && !isLoading"><b>*Hoot hoot* *Hoot hoot*</b> <bR>Nothing here..</p>
  
