<h1 mat-dialog-title>Work Experience</h1>

<div mat-dialog-content>

    <main>
      <form [formGroup]="form" (submit) ="onCreateWork()">



        <!--Name of Company-->
        <mat-form-field  class="txtField" appearance="outline">
            <mat-label>Name of Company</mat-label>
            <input
                name="dept"
                formControlName ="dept"
                matInput
                type="text"
                required>
            <mat-error *ngIf = "form.get('dept').invalid">Please enter a valid dept.</mat-error>
        </mat-form-field>


            <!--position-->
        <mat-form-field  class="txtField" appearance="outline">
            <mat-label>position</mat-label>
            <input
            name="position"
            matInput
            formControlName ="position"
            type="text"
            required>
            <mat-error *ngIf = "form.get('position').invalid">Please enter position.</mat-error>
        </mat-form-field>



        <div class="row">
          <div class="col-sm-4"><p>Inclusive Date</p></div>
          <div class="col-sm-4">
                      <!--fromDate-->
            <mat-form-field class="txtField" appearance="outline">
            <mat-label>From:</mat-label>
            <input required  matInput [matDatepicker]="picker"
            formControlName="fromDate" name="fromDate"
            placeholder="MM/DD/YYYY"   (focus)="picker.open()" required="">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>
          </div>
          <div class="col-sm-4">
                         <!--toDate-->
             <mat-form-field class="txtField" appearance="outline">
                <mat-label>To: </mat-label>
                <input  matInput [matDatepicker]="picker2"
                formControlName="toDate" name="toDate"
                placeholder="MM/DD/YYYY"   (focus)="picker2.open()">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
          </div>
        </div>






               <!-- status of employment -->
        <mat-form-field class="txtField" appearance="outline">
            <mat-label>Choose a status</mat-label>
            <mat-select
            name = "status"
            formControlName="status"
            required
            >
            <mat-option *ngFor="let stat of stats" [value] = "stat.value">
                {{stat.value}}
            </mat-option>
            </mat-select>
            <mat-error *ngIf = "form.get('status').invalid">Please choose status of employment.</mat-error>
        </mat-form-field><br>

        <!--monthlySalary-->
        <mat-form-field class="txtField" appearance="outline">
            <mat-label>monthlySalary (php)</mat-label>
            <input
            matInput
            name = "monthlySalary"
            formControlName ="monthlySalary"
            type="text"
            required
            >
            <mat-error *ngIf = "form.get('monthlySalary').invalid">Please enter a monthlySalary</mat-error>
        </mat-form-field><br>


           <!--salaryGrade-->
           <mat-form-field class="txtField" appearance="outline">
            <mat-label>salaryGrade</mat-label>
            <input
            matInput
            name = "salaryGrade"
            formControlName ="salaryGrade"
            placeholder="e.g. '00-0'"
            minlength="4"
            maxlength="4"
            type="text"
            >
            <mat-error *ngIf = "form.get('salaryGrade').invalid">Please enter a valid salaryGrade</mat-error>
        </mat-form-field>

        <mat-checkbox formControlName = "government">Government Service?</mat-checkbox><br><br>



        <button class="btn positive" mat-flat-button color="primary" type="submit" *ngIf="!isLoading">Confirm</button>
        <mat-spinner *ngIf="isLoading"
        [diameter]="30"
        style="margin: 0; position: absolute; top: 50%; left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);"
        ></mat-spinner>

    </form>
    <button class="btn negative" mat-flat-button color="primary"  (click)="onNoClick()" >Cancel</button>

    </main>

</div>
