/* img {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit:cover;
} */


.avatar{
    object-fit: cover;
    margin-top: 50px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 10px;
    border: 2px;
    background-color: rgb(63, 83, 104);

}


.name {
    margin-top: 14px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}


mat-sidenav {
    width: 20%;
    border-right: none;
    background: #24344b;
    color: rgb(255, 255, 255);
    text-align: center;
    /* border-radius: 0px 30px 30px 0px; */
}



.content {

padding: 20px;

}

mat-sidenav-container {
    height: 100%;
    background-color: #ffffff;

}

.sidenav-buttons{
    padding-top: 50px;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8rem;
    padding-left: 20%;
    color: rgba(255, 255, 255, 0.452);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logout-button {
    position: absolute;
    bottom:    30px;
    color: #a52a2a;
    font-weight: bold;
}

mat-icon {
    margin-right: 10px;
    transform: scale(0.8);
}

.mat-accent{
  background-color: #5a68f0;
  color: #fff;
}

.icon-profile{

}
.icon-school{
  color: #3ac2b6;
  transform: scale(0.3);

}
.icon-work{
  color: #ef3a65;
  transform: scale(0.3);

}
.icon-civil{
  color: goldenrod;
  transform: scale(0.3);

}
.icon-train{
  color: mediumpurple;
  transform: scale(0.3);

}
.icon-about{
  /* color: #ef3a65; */
}
