
mat-card{

    width: 80%;
    margin: auto;


}
.signin-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.txtField {
    width: 100%;
    padding: 0px;

}

mat-form-field.txtField {
  font-size: 12px;
  margin: 0px;
}


.btnSignInForm {
   width: 100%;
   height: 45px;
   margin-bottom: 20px;
   margin-top: 30px;
}
.positive{
  background-color: #2ba9c8;
}
.negative{
  background-color: #2b79c8;
}



.txtTitle{
  font-weight: bold;
  padding-top: 1em;
  font-size: x-large;
  text-align: center;
}

.signUpLink{
  font-weight: bold;
  color: #2ba9c8;
  cursor: pointer;

}
p {
  text-align: center;
}

.container {
  max-width: 400px;
  margin-right: 5%;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;

  /* center */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

mat-spinner {
  zoom: 0.2
}


