<mat-spinner
[diameter]="30"
style="
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);"
*ngIf="isLoading"></mat-spinner>


<div class="float-buttons">

    <button mat-fab (click)="onEditDialog(user._id)" class="edit-button" color="accent"
    matTooltip="Edit Profile"
        matTooltipPosition="left">
      <mat-icon>edit</mat-icon>
    </button>

     <button mat-fab (click)="changePass(user._id)" class="changepass-button" color="accent"
    matTooltip="Change Password"
        matTooltipPosition="left">
      <mat-icon>more_horiz</mat-icon>
    </button>
</div>



  <!-- FIRST TAB - PERSONAL INFO -->



      <div class="profileInfo" *ngIf="!isLoading">

        <h1>Personal Info</h1>

        <div class="row">
          <div class="col-sm-3"><p>Name: </p></div>
          <div class="col-sm-9"><p>{{user.LastName + ", " + user.FirstName}}</p></div>
        </div>

        <div class="row">
          <div class="col-sm-3"><p>Date of Birth: </p></div>
          <div class="col-sm-9"><p>{{readableDate(user.birthdate)}}</p></div>
        </div>
        <div class="row">
          <div class="col-sm-3"><p>Age: </p></div>
          <div class="col-sm-9"><p>{{getAge(user.birthdate)}}</p></div>
        </div>

        <div class="row">
          <div class="col-sm-3"><p>Email: </p></div>
          <div class="col-sm-9"><p>{{emptyStringIfNull(user.email)}}</p></div>
        </div>

        <mat-divider></mat-divider>



      </div>


