<h1 mat-dialog-title>Add Civil Background</h1>

<div mat-dialog-content>

    <main>
      <form [formGroup]="form" (submit) ="onCreateCivil()">

     

        <!--NAMe of civil elgibiility-->
        <mat-form-field  class="full-width">
            <mat-label>Name of Civil Eligibility</mat-label>
            <input
                name="nameOfCivilServiceEligibility"
                formControlName ="nameOfCivilServiceEligibility"
                matInput
                type="text"
                required>
            <mat-error *ngIf = "form.get('nameOfCivilServiceEligibility').invalid">Please enter a valid nameOfCivilServiceEligibility.</mat-error>
        </mat-form-field>


            <!--rating-->
        <mat-form-field  class="full-width">
            <mat-label>rating (if applicable)</mat-label>
            <input
            name="rating"
            matInput
            formControlName ="rating"
            type="text"
            required>
            <mat-error *ngIf = "form.get('rating').invalid">Please enter rating.</mat-error>
        </mat-form-field>



          <!--dateOfExamination-->
          <mat-form-field>
          <mat-label>dateOfExamination</mat-label>
          <input class="txtInput" matInput [matDatepicker]="picker"
          formControlName="dateOfExamination" name="dateOfExamination"
          placeholder="MM/DD/YYYY"   (focus)="picker.open()" required="">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
  
         </mat-form-field>

        <!--placeOfExamination-->
        <mat-form-field class="full-width">
            <mat-label>placeOfExamination</mat-label>
            <input
            matInput
            name = "placeOfExamination"
            formControlName ="placeOfExamination"
            type="text"
            required
            >
            <mat-error *ngIf = "form.get('placeOfExamination').invalid">Please enter a placeOfExamination</mat-error>
        </mat-form-field><br>

        <mat-divider></mat-divider>
            <h1>LICENSE</h1>
           <!--licenseNo-->
           <mat-form-field class="full-width">
            <mat-label>licenseNo</mat-label>
            <input
            matInput
            name = "licenseNo"
            formControlName ="licenseNo"
            type="text"
            >
            <mat-error *ngIf = "form.get('licenseNo').invalid">Please enter a licenseNo</mat-error>
        </mat-form-field><br>

            <!--dateOfValidity-->
            <mat-form-field>
                <mat-label>dateOfValidity</mat-label>
                <input class="txtInput" matInput [matDatepicker]="picker2"
                formControlName="dateOfValidity" name="dateOfValidity"
                placeholder="MM/DD/YYYY"   (focus)="picker2.open()">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
               </mat-form-field>

<br>
        <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Create Civil Service</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        
    </form>
    <button mat-raised-button  (click)="onNoClick()" color="accent" >Cancel</button>

    </main>

</div>
