<main>


    <img src="assets/images/default_cict.png" style="width: 200px; height: 200px;">
        <h1>Welcome</h1>
        <p>The College of Information and Communications Technology is a blablabla</p>

        <h1>History</h1>
        <p>Our history is blablabla</p>

        <h1>Social Media Links</h1>
        <p><a href="https://www.facebook.com/BulsuCICT.official/" target="_blank">Peysbook</a></p>
        <p><a href="https://myportal.bulsu.edu.ph/" target="_blank">BulSu Portal</a></p>
        <p><a href="https://bulsu.edu.ph/" target="_blank">BulSu Offical Website</a></p>
</main>