
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";



  mat-spinner{

    margin: auto;
  }

  th{
    text-align: center;
  }
li{

  list-style: none;

}


  
  /* .container {
    max-width: 800px;
    margin: auto;
    min-height: 300px;
    padding: 30px;
    border-radius: 5px;
    
    
  } */


input[type="file"]{
  visibility: hidden;
  }
  

  mat-form-field.full-width {
    font-size: 14px;
  }


