
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";



  mat-spinner{

    margin: auto;
  }

  th{
    text-align: center;
  }
li{

  list-style: none;

}



  /* .container {
    max-width: 800px;
    margin: auto;
    min-height: 300px;
    padding: 30px;
    border-radius: 5px;


  } */


input[type="file"]{
  visibility: hidden;
  }


  mat-form-field.full-width {
    font-size: 14px;
  }

  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    /* background-image: url("\assets\images\background.png"); */
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-size: 60%; */
    background-color: aliceblue;

    /* background-color: linear-gradient(131deg, rgba(56,86,236,1) 0%, rgba(0,169,215,1) 38%, rgba(156,221,246,1) 100%); */

  }

